# Salin file ini jadi "keystore.properties" (di folder yang sama, root project) lalu isi
# nilai sebenarnya. File "keystore.properties" TIDAK di-commit (sudah di .gitignore).
#
# storeFile bisa path absolut, mis:
# storeFile=G:\\My Drive\\05-Archive\\PERS - KEY\\keystore-upload-2026.jks

storeFile=
storePassword=
keyAlias=upload
keyPassword=
